<div>
    <div class="modal-header">
        <h3 class="modal-title">Are you sure?</h3>
    </div>
    <div class="modal-body">
        <p>You are about to delete this element.</p>
    </div>
    <div class="modal-footer">        
        <button class="btn btn-cancel" type="button" ng-click="modal.cancel()">Cancel</button>
        <button class="btn btn-primary" type="button" ng-click="modal.ok(deleteEle)">OK</button>
    </div>
</div>