/*COLORS*/

/*--------------------------------------------------------*/

/*breadcrumb-navigation*/

/*--------------------------------------------------------*/

.employer-body .employer-details .search-form .btn {
  border: none;
}

.employer-body .employer-details .custom-angularstrap .form-control {
  text-shadow: none !important;
  color: #555555 !important;
}

.employer-body .employer-details #employerContractsTable .popover {
  right: -44%;
  width: 42%;
  margin-right: 15px !important;
  margin-left: 0 !important;
  left: auto !important;
  top: 0px !important;
  transition: right 700ms ease;
  max-width: 80%;
}

.employer-body .employer-details #employerContractsTable .popover .arrow {
  display: none;
}

.employer-body .employer-details #employerContractsTable .popover-search-btn {
  padding-top: 33px;
  border: none;
}

.employer-body .employer-details #employerContractsTable .slide-panel {
  right: 0;
}

.employer-body .employer-details #employerContractsTable .popover-template .list-div {
  overflow-x: hidden;
  overflow-y: auto;
}

.employer-body .employer-details #employerContractsTable .popover-template .list-header .popover-close:before {
  background-image: url("../images/icons/close.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 9px;
  content: "";
  display: inline-block;
  height: 12px;
  margin-right: .5em;
  position: relative;
  top: .1em;
  width: 10px;
  cursor: pointer;
}

.employer-body .employer-details #employerContractsTable .popover-template .list-item {
  margin: 10px 5px;
  font-size: 15px;
  font-family: robotomedium;
}

.employer-body .employer-details #employerContractsTable .popover-template .search-form {
  border: 2px solid #e0dcdc;
  border-radius: 4px;
  margin-bottom: 20px;
}

.employer-body .employer-details #employerContractsTable .popover-template .search-form .form-control {
  width: 100%;
}

.employer-body .employer-details .employer-configuration .configuration-parent {
  padding: 20px 65px 20px 35px;
}

.employer-body .employer-details .employer-configuration .configuration-parent .configuration-first-div {
  margin-bottom: 25px;
}

.employer-body .employer-details .employer-configuration .configuration-parent .configuration-dropdown-btn,
.employer-body .employer-details .employer-configuration .configuration-parent .configuration-dropdown-btn:hover {
  border: 1px solid #ccc;
  background: none;
  text-align: left;
  color: #555 !important;
  text-transform: none;
  padding: 5px 16px;
}

.employer-body .employer-details .employer-configuration .configuration-parent .form-group {
  margin: 10px 0px 5px 0px;
}

.employer-body .employer-details .employer-configuration .configuration-parent .form-group .search-form .btn {
  border: none;
}

.employer-body .employer-details .employer-configuration .configuration-parent .form-group .control-label {
  font-family: robotomedium;
  font-weight: normal;
  letter-spacing: 0.2px;
  font-size: 14px;
  color: #555;
  margin-top: 5px;
}

.employer-body .employer-details .employer-configuration .configuration-parent .form-group .form-label {
  color: #555;
  font-family: robotobold;
  font-weight: normal;
  letter-spacing: 0.18px;
  font-size: 16px;
  text-transform: none;
}

.employer-body .employer-details .employer-configuration .configuration-parent .form-group input[type=checkbox] {
  display: none;
}

.employer-body .employer-details .employer-configuration .configuration-parent .form-group label.checkbox-label:before,
.employer-body .employer-details .employer-configuration .configuration-parent .form-group label.checkbox-control-label:before {
  border: 1px solid #aaa;
  border-radius: 2px;
  content: "";
  display: inline-block;
  height: 16px;
  left: 0;
  margin-right: 10px;
  position: relative;
  top: 2px;
  width: 16px;
  cursor: pointer;
}

.employer-body .employer-details .employer-configuration .configuration-parent .form-group label.checkbox-control-label:before {
  top: 6px;
}

.employer-body .employer-details .employer-configuration .configuration-parent .form-group input[type=checkbox]:checked + label.checkbox-label:before,
.employer-body .employer-details .employer-configuration .configuration-parent .form-group input[type=checkbox]:checked + label.checkbox-control-label:before {
  cursor: pointer;
  background-color: #225e9c;
  background-image: url("../images/icons/check.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px;
  border-color: #225e9c;
  color: #fff;
}

.employer-body .employer-details .employer-configuration .configuration-parent .form-group input[type=checkbox]:disabled + label.checkbox-label:before,
.employer-body .employer-details .employer-configuration .configuration-parent .form-group input[type=checkbox]:disabled + label.checkbox-control-label:before {
  background-color: #e0e0e0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px;
  border-color: #e0e0e0;
  content: "";
  line-height: 1.4em;
  cursor: not-allowed;
}

.employer-body .employer-details .employer-configuration .configuration-parent .configuration-div {
  border: 1px solid #555;
  margin-bottom: 25px;
  margin-left: 15px;
  padding: 12px 15px;
}

.employer-body .employer-details .employer-configuration .configuration-parent .configuration-div .configuration-dropdown-checkbox label.checkbox-label {
  top: 1px;
  padding-left: 15px;
}

.employer-body .employer-details .employer-configuration .configuration-parent .configuration-div .configuration-dropdown-checkbox label {
  font-weight: normal;
  cursor: pointer;
}

.employer-body .employer-details .employer-configuration .configuration-parent .first-div {
  padding: 0px 15px;
}

#add-new-contract-modal .custom-angularstrap .form-control {
  text-shadow: none !important;
  color: #555555 !important;
}

.emp_authAdmin_modal .locations-msg-label {
  text-align: center;
  padding-bottom: 20px;
  font-size: 13.5px;
  font-family: robotomedium;
  color: #2c487c;
  font-weight: normal;
}

.emp_authAdmin_modal .blob-url-css {
  margin-top: 48px;
}
/*COLORS*/

/*--------------------------------------------------------*/

/*breadcrumb-navigation*/

/*--------------------------------------------------------*/

.personnel-body .personnel-header .profile-picture {
  height: 120px;
  margin: 0 auto 1em;
  position: relative;
  width: 100%;
}

.personnel-body .personnel-header .profile-picture .person-profile-picture {
  height: 120px;
}

.personnel-body .personnel-header .profile-picture img {
  border-radius: 50%;
  display: block;
  height: auto;
  width: 100%;
}

.personnel-body .personnel-details .custom-angularstrap .form-control {
  text-shadow: none !important;
  color: #555555 !important;
}

.personnel-body .personnel-details .personnel-wrap {
  margin-bottom: 5px;
}

.personnel-body .personnel-details .personnel-wrap .inside {
  padding: 20px 25px 10px 25px;
}

#add-new-card-modal .custom-angularstrap .form-control {
  text-shadow: none !important;
  color: #555555 !important;
}

#add-new-card-modal .text-area-css {
  height: 80px;
  margin-bottom: 15px;
}

#add-new-card-modal .text-area-css textarea {
  width: 100%;
  height: 100%;
  resize: none;
}

.employer-body .employer-details .search-form .btn {
  border: none;
}

.employer-body .employer-details .custom-angularstrap .form-control {
  text-shadow: none !important;
  color: #555555 !important;
}

.employer-body .employer-details #employerContractsTable .popover {
  right: -44%;
  width: 42%;
  margin-right: 15px !important;
  margin-left: 0 !important;
  left: auto !important;
  top: 0px !important;
  transition: right 700ms ease;
  max-width: 80%;
}

.employer-body .employer-details #employerContractsTable .popover .arrow {
  display: none;
}

.employer-body .employer-details #employerContractsTable .popover-search-btn {
  padding-top: 33px;
  border: none;
}

.employer-body .employer-details #employerContractsTable .slide-panel {
  right: 0;
}

.employer-body .employer-details #employerContractsTable .popover-template .list-div {
  overflow-x: hidden;
  overflow-y: auto;
}

.employer-body .employer-details #employerContractsTable .popover-template .list-header .popover-close:before {
  background-image: url("../images/icons/close.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 9px;
  content: "";
  display: inline-block;
  height: 12px;
  margin-right: .5em;
  position: relative;
  top: .1em;
  width: 10px;
  cursor: pointer;
}

.employer-body .employer-details #employerContractsTable .popover-template .list-item {
  margin: 10px 5px;
  font-size: 15px;
  font-family: robotomedium;
}

.employer-body .employer-details #employerContractsTable .popover-template .search-form {
  border: 2px solid #e0dcdc;
  border-radius: 4px;
  margin-bottom: 20px;
}

.employer-body .employer-details #employerContractsTable .popover-template .search-form .form-control {
  width: 100%;
}

.employer-body .employer-details .employer-configuration .configuration-parent {
  padding: 20px 65px 20px 35px;
}

.employer-body .employer-details .employer-configuration .configuration-parent .configuration-first-div {
  margin-bottom: 25px;
}

.employer-body .employer-details .employer-configuration .configuration-parent .configuration-dropdown-btn,
.employer-body .employer-details .employer-configuration .configuration-parent .configuration-dropdown-btn:hover {
  border: 1px solid #ccc;
  background: none;
  text-align: left;
  color: #555 !important;
  text-transform: none;
  padding: 5px 16px;
}

.employer-body .employer-details .employer-configuration .configuration-parent .form-group {
  margin: 10px 0px 5px 0px;
}

.employer-body .employer-details .employer-configuration .configuration-parent .form-group .search-form .btn {
  border: none;
}

.employer-body .employer-details .employer-configuration .configuration-parent .form-group .control-label {
  font-family: robotomedium;
  font-weight: normal;
  letter-spacing: 0.2px;
  font-size: 14px;
  color: #555;
  margin-top: 5px;
}

.employer-body .employer-details .employer-configuration .configuration-parent .form-group .form-label {
  color: #555;
  font-family: robotobold;
  font-weight: normal;
  letter-spacing: 0.18px;
  font-size: 16px;
  text-transform: none;
}

.employer-body .employer-details .employer-configuration .configuration-parent .form-group input[type=checkbox] {
  display: none;
}

.employer-body .employer-details .employer-configuration .configuration-parent .form-group label.checkbox-label:before,
.employer-body .employer-details .employer-configuration .configuration-parent .form-group label.checkbox-control-label:before {
  border: 1px solid #aaa;
  border-radius: 2px;
  content: "";
  display: inline-block;
  height: 16px;
  left: 0;
  margin-right: 10px;
  position: relative;
  top: 2px;
  width: 16px;
  cursor: pointer;
}

.employer-body .employer-details .employer-configuration .configuration-parent .form-group label.checkbox-control-label:before {
  top: 6px;
}

.employer-body .employer-details .employer-configuration .configuration-parent .form-group input[type=checkbox]:checked + label.checkbox-label:before,
.employer-body .employer-details .employer-configuration .configuration-parent .form-group input[type=checkbox]:checked + label.checkbox-control-label:before {
  cursor: pointer;
  background-color: #225e9c;
  background-image: url("../images/icons/check.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px;
  border-color: #225e9c;
  color: #fff;
}

.employer-body .employer-details .employer-configuration .configuration-parent .form-group input[type=checkbox]:disabled + label.checkbox-label:before,
.employer-body .employer-details .employer-configuration .configuration-parent .form-group input[type=checkbox]:disabled + label.checkbox-control-label:before {
  background-color: #e0e0e0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px;
  border-color: #e0e0e0;
  content: "";
  line-height: 1.4em;
  cursor: not-allowed;
}

.employer-body .employer-details .employer-configuration .configuration-parent .configuration-div {
  border: 1px solid #555;
  margin-bottom: 25px;
  margin-left: 15px;
  padding: 12px 15px;
}

.employer-body .employer-details .employer-configuration .configuration-parent .configuration-div .configuration-dropdown-checkbox label.checkbox-label {
  top: 1px;
  padding-left: 15px;
}

.employer-body .employer-details .employer-configuration .configuration-parent .configuration-div .configuration-dropdown-checkbox label {
  font-weight: normal;
  cursor: pointer;
}

.employer-body .employer-details .employer-configuration .configuration-parent .first-div {
  padding: 0px 15px;
}

#add-new-contract-modal .custom-angularstrap .form-control {
  text-shadow: none !important;
  color: #555555 !important;
}

.emp_authAdmin_modal .locations-msg-label {
  text-align: center;
  padding-bottom: 20px;
  font-size: 13.5px;
  font-family: robotomedium;
  color: #2c487c;
  font-weight: normal;
}

.emp_authAdmin_modal .blob-url-css {
  margin-top: 48px;
}

.employer_module .employer_label {
  border: 1px;
  margin-top: 2px;
  background-color: #ff0000;
  font-size: 20px;
}

.employer_module .employer-dropdown-checkbox {
  margin-bottom: 5px;
  margin-top: 5px;
}

.employer_module .employer-dropdown-css {
  overflow-x: hidden !important;
  overflow-y: scroll !important;
  left: 15px;
  min-width: 94%;
  text-align: left;
}

.inline-multiselect-wrap {
  width: 85%;
}

.inline-multiselect-wrap .inline-dropdown-css {
  min-width: 90%;
  font-size: 13px;
}

.inline-multiselect-wrap .inline-dropdown-css li a {
  padding: 3px 15px;
}

.inline-multiselect-wrap .inline-dropdown-checkbox label.checkbox-label {
  padding-left: 25px;
}

.inline-multiselect-wrap .inline-dropdown-checkbox label {
  padding-left: 20px;
}

.inline-multiselect-wrap .inline-multiselect-search input[type="text"] {
  width: 88% !important;
}

.inline-multiselect-wrap .inline-multiselect-search .btn {
  border: none;
}

.inline-multiselect-wrap .inline-dropdown-btn {
  font-size: 13px;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  text-overflow: ellipsis;
  padding-right: 30px;
}

.td-desp-inline {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/*COLORS*/

/*--------------------------------------------------------*/

/*breadcrumb-navigation*/

/*--------------------------------------------------------*/

.personnel-body .personnel-header .profile-picture {
  height: 120px;
  margin: 0 auto 1em;
  position: relative;
  width: 100%;
}

.personnel-body .personnel-header .profile-picture .person-profile-picture {
  height: 120px;
}

.personnel-body .personnel-header .profile-picture img {
  border-radius: 50%;
  display: block;
  height: auto;
  width: 100%;
}

.personnel-body .personnel-details .custom-angularstrap .form-control {
  text-shadow: none !important;
  color: #555555 !important;
}

.personnel-body .personnel-details .personnel-wrap {
  margin-bottom: 5px;
}

.personnel-body .personnel-details .personnel-wrap .inside {
  padding: 20px 25px 10px 25px;
}

#add-new-card-modal .custom-angularstrap .form-control {
  text-shadow: none !important;
  color: #555555 !important;
}

#add-new-card-modal .text-area-css {
  height: 80px;
  margin-bottom: 15px;
}

#add-new-card-modal .text-area-css textarea {
  width: 100%;
  height: 100%;
  resize: none;
}
/*COLORS*/

/*--------------------------------------------------------*/

/*breadcrumb-navigation*/

/*--------------------------------------------------------*/