html,
body {
    overflow-y: auto;
}

.disabled {
    background: #ccc !important;
    cursor: not-allowed !important;
    color: #fff !important;
}

.align-right {
    text-align: right;
}

.btn {
    margin-top: 5px;
    height: 30px;
    line-height: 0px;
}

#header {
    top: -5px;
}

.header {
    background-color: #3e67b4;
    color: #fff;
    height: 50px;
}

.upload {
    height: 25px;
    width: 108px;
    text-align: center;
    padding-top: 1px;
    margin-left: 10px;
    font-size: .9em;
    border: 1px solid #ccc;
    box-shadow: 0px 1px 1px 0px #ddd;
    color: #fff;
    background-color: #2C487C;
}

.sub-header .sub-section {
    background-color: #fff;
    height: 40px;
}

.main {
    border: 1px dotted #ccc;
    padding: 15px;
    margin-top: 15px;
}

.download-template {
    width: 500px;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 20px;
}

.download-template button {
    font-size: 10px;
    margin-top: 2px;
}

.download-template .panel-body {
    padding: 40px;
}

.designer-area {
    background: #fff;
    box-shadow: 0px 1px 1px 0px #eee;
}


/* .qs-elements::before {
    content: '||';
    position: relative;
    background: red;
    width: 20px;
    height: 20px;
} */

.qs-drag {
    width: 20px;
    height: 41px;
    position: absolute;
    background: #999;
    left: -20px;
    cursor: move;
    /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    border-radius: 5px 0 0 5px;
    background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
    background-color: #282828;
    background-size: 16px 16px;
}

.qs-elements {
    position: absolute;
    /* top: -10px; */
    z-index: 1000;
    border: 1px solid #c5c5c5;
    background: #f0f0f0;
    right: 0px;
    max-width: 389px;
}

.tab-pane {
    min-height: 300px;
    margin-top: 10px;
}

.addMrg {
    margin: 10px;
}

.person-profile-picture {
    height: 120px;
}

input:invalid,
.form-control.ng-invalid-required,
.ng-invalid-pattern:not(.ng-valid) {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

label.required-label:after {
    content: '';
    font-size: 11px;
    color: #a94442;
    letter-spacing: 0.5px;
    text-transform: none;
}

.modal {
    right: 25%;
    left: 25%;
}

.formBorder {
    border-left: 1px solid #ddd;
}

.rightAlign {
    text-align: right;
}

.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer div {
    width: 216px;
    height: 32px;
    background: #2C487C;
    text-align: center;
    border-radius: 5px;
    float: right;
    padding-top: 5px;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    cursor: pointer;
}

.delGlph {
    cursor: pointer;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar),
md-toolbar:not(.md-menu-toolbar) {
    background-color: #3e67b4;
    color: #fff;
}


/* Upload file css */

.choose-file {
    font-size: 12px;
    color: #3e67b4;
    text-indent: 14px;
    margin-top: 0px;
}

.file-name {
    border: 1px solid #ddd;
    margin-top: 6px;
    min-width: 245px;
    display: inline-block;
    height: 25px;
    box-shadow: 0px 2px 2px 0px #ddd;
    width: 45%;
}

.file-name label {
    font-size: 13px;
    color: #000;
    text-indent: 10px;
    text-transform: capitalize;
    font-weight: 100;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label {
    font-size: 1em;
    font-weight: 400;
    color: #666;
    background: #efefef;
    display: inline-block;
    width: 113px;
    height: 25px;
    padding-top: 2px;
    padding-left: 10px;
    opacity: 0.9;
    margin-left: -116px;
}

.inputfile:focus+label,
.inputfile+label:hover {
    opacity: 1;
}

.inputfile+label {
    cursor: pointer;
    /* "hand" cursor */
}

.inputfile:focus+label {
    outline: none;
}


/* QS Elememt */

.info-text {
    color: #999;
    font-size: 10px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    color: #fff;
    background-color: #3c65bc;
}

.nav>li>a {
    padding: 10px;
    text-indent: 15px;
    border-right: 1px solid #c5c5c5;
    margin-right: 0px;
}

.nav>li>a::before {
    content: '+';
    position: absolute;
    text-indent: -18px;
    font-size: 25px;
    top: 2px;
}

#formToEdit .form-group {
    cursor: move;
    /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.component-list li {
    height: 40px;
    padding-left: 15px;
    margin-left: -10%;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 1px dotted #c5c5c5;
    background: #ebebeb;
    list-style-type: none;
    font-size: 12px;
    outline: none;
    cursor: move;
    /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.component-list li div {
    display: inline-block;
    margin-right: 10px;
    padding-top: 10px;
    text-transform: uppercase;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: #286090;
    border-color: #122b40;
}

.btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}


/* Style to fix select wrap issue */

#mainContainer .select-wrap {
    float: none;
}


/* Styles for Hover box for Edit and Delete Start */

.show-field-actions {
    display: block;
    height: 60px;
    width: 100%;
    background-color: #12399c;
    opacity: 0.7;
    position: relative;
    margin-top: -60px;
    z-index: 1000;
}

.show-field-actions .action-buttons .edit-field,
.show-field-actions .action-buttons .delete-field {
    float: left;
    margin-right: 5px;
}

.show-field-actions .action-buttons .edit-field:hover,
.show-field-actions .action-buttons .delete-field:hover {
    cursor: pointer;
}

.show-field-actions .action-buttons {
    width: 60px;
    position: relative;
    top: 25%;
    margin: 0 auto;
}

.show-field-actions .action-buttons .circle-outline {
    border: 1px solid #ffffff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.show-field-actions .action-buttons .action-icons {
    margin: 2px 0 0 4px;
    color: #ffffff;
}


/* Styles for hover box with edit and delete end */


/* PageSlide Styles */


/* Needed for hiding crollbars when pushing */

html {
    overflow-x: hidden;
}

#mainContainer {
               
}

.ng-pageslide {}

.edit-prop-slide-panel {
    top: 105px !important;
    height: 90% !important;
    background: #ffffff;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

body.ng-pageslide-body-open::before {
    content: '.';
    display: block;
    position: absolute;
    top: 100px;
    background-color: rgb(0, 0, 0);
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0.5;
    transition: opacity 1s;
    opacity: 0.5;
    pointer-events: all;
}

body.ng-pageslide-body-closed::before {
    transition: opacity 1s;
    content: '.';
    display: block;
    position: absolute;
    top: 0;
    background-color: rgb(0, 0, 0);
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
}

#container1,
#container2 {
    width: 100%;
    height: 20rem;
    border: 1px solid lightGrey;
    p {
        font-size: 0.5rem!important;
    }
}

.edit-panel-header {
    background-color: #333333;
    height: 50px;
    line-height: 50px;
}

.edit-panel-title-text {
    font-size: 20px;
    padding-left: 10px;
    color: #ffffff;
}

.edit-panel-field-name {}

.edit-panel-close,
.edit-panel-icons {
    color: #ffffff;
    font-size: 16px;
    padding: 0 10px;
}

.edit-panel-body {
    padding: 20px;
}

.edit-panel-form-title {
    padding: 0 15px;
    color: #a2a2a2;
}


/* Page SLide styles end */