<div pageslide ps-open="$ctrl.showEditPanel" ps-class="edit-prop-slide-panel" ps-click-outside="false" ps-size="420px" ps-container="mainContainer">
    <div class="edit-panel-header">
        <div class="edit-panel-title">
            <span class="edit-panel-icons glyphicon glyphicon-pencil"></span>
            <span class="edit-panel-title-text">
                <span class="">Edit  Properties:</span>
                <span class="edit-panel-field-name">QS LABEL</span>
            </span>
            <span class="edit-panel-close pull-right">
                <span class="glyphicon glyphicon-remove-circle" data-ng-click="$ctrl.toggleEditPanel()"></span>
            </span>
        </div>
    </div>
    <div class="edit-panel-body">
        <div>
            <div class="row edit-panel-form-title"> 
                <span class="form-label edit-panel-form-label">Form Object:</span>
                <span class="edit-panel-form-title-text">employeeDetails</span>                
            </div>
            <!-- Sample Form Fields -->
            <div class="modal-body ">
                <div class="row">
                    <label for="maxlnField" class="form-label">Input Value</label>
                    <div class="">
                        <input class="form-control" id="" type="number" min="1" max={{TextInpPropCtrl.prop.maxSize}} ng-model="TextInpPropCtrl.prop.maxLength">
                    </div>
                </div>
                <div class="row">
                    <label for="placeholderTxt" class="form-label">Input Label</label>
                    <div class="">
                        <input class="form-control" id="placeholderTxt" type="text" ng-model="TextInpPropCtrl.prop.placeholder">
                    </div>
                </div>
                <div class="row">
                    <label for="requiredField" class="form-label">Input Type</label>
                    <div class="">
                        <div class="select-wrap">
                            <select class="form-control" ng-model="TextInpPropCtrl.prop.controllerType" ><!-- ng-options="item for item in TextInpPropCtrl.prop.controllerArray" -->
                                <option>DropDown</option>
                                <option>Checkbox</option>
                                <option>Radio Button</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label for="maxlnField" class="form-label">Max Length</label>
                    <div class="">
                        <input class="form-control" id="maxlnField" type="number" min="1" max={{TextInpPropCtrl.prop.maxSize}} ng-model="TextInpPropCtrl.prop.maxLength">
                    </div>
                </div>
                <div class="row">
                    <label for="requiredAttr" class="form-label">Required</label>
                    <div class="">
                        <input id="requiredAttr" type="checkbox" ng-model="TextInpPropCtrl.prop.required" ng-disabled="TextInpPropCtrl.prop.mandatoryField">
                        <span ng-show="TextInpPropCtrl.prop.mandatoryField" class="success"></span>
                    </div>
                </div>                
                <div class="row">
                    <label for="cPatternAttr" class="form-label">Pattern Validation</label>
                    <div class="">
                        <input class="form-control" id="cPatternAttr" type="text" ng-model="TextInpPropCtrl.prop.ngPattern">
                    </div>
                </div>

            </div>
            <!-- Sample form fields end -->
        </div>
    </div>
    <div class="edit-panel-footer">
        <div class="edit-panel-footer-actions pull-right">
            <button type="button" class="btn btn-cancel" data-ng-click="$ctrl.toggleEditPanel()">Cancel</button>
            <button type="button" class="btn btn-default">Save</button>
        </div>
    </div>
    
</div>