<div class="row">
    <div class="tabs-view">
        <uib-tabset active="3" class="clearfix">
            <uib-tab index="$index" heading="{{tab.title}}" data-ng-repeat="tab in $ctrl.qsTabs">
                <div class="col-sm-12 info-text">
                    Drag and Drop the following QS components to the required positions in the template.
                </div>
                <div class="col-sm-12 component-list">
                    <ul>

                        <li ng-repeat="comp in $ctrl.componentData | filter : {componentType : tab.key}" data-id="{{comp}}" draggable="true" onDragstart="angular.element(this).scope().$ctrl.drag(event)">
                            <div class="glyphicon glyphicon-th-list"></div>
                            <div>
                                {{comp.name}}
                            </div>
                        </li>

                    </ul>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>