<div id="mainContainer" ondrop="angular.element(this).scope().$ctrl.drop(event)" ondragover="angular.element(this).scope().$ctrl.allowDrop(event)">
    <div class="row header">
        <header> </header>
    </div>
    <safe-Quick-Table in-Put="">
        <safe-Table-Column name="name" header-Text="Name"></safe-Table-Column>
        <safe-Table-Column name="username" header-Text="User Name"></safe-Table-Column>
        <safe-Table-Column name="email" header-Text="EMail"></safe-Table-Column>
        <safe-Data-Pager in-Put="" io-Value="" in-Per-Page="4"></safe-Data-Pager>
    </safe-Quick-Table>
    <div class="row">
        <sub-header upload-file="$ctrl.uploadFile()" reset-changes="$ctrl.resetChanges()" save-changes="$ctrl.saveChanges()" selected-file="$ctrl.selectedFile" show-main="$ctrl.showMain"> </sub-header>
    </div>
    <div class="col-sm-12 " ng-show="$ctrl.showMain">
        <main drag="$ctrl.drag()"> </main>
    </div>
    <div class="col-sm-12 download-template" ng-show="$ctrl.showDownload">
        <download-template download-template="$ctrl.downloadTemplate()" file-name="$ctrl.fileName">
        </download-template>
    </div>
</div>
<edit-field-prop ng-show="$ctrl.showEditPanel" show-edit-panel="$ctrl.showEditPanel" toggle-edit-panel="$ctrl.toggleEditPanel()"></edit-field-prop>