<div class="col-sm-12 main" id="">
    <div class="col-sm-12 designer-area">
        <designer-area></designer-area>
    </div>
    <div class="col-sm-4  qs-elements" id="qs-elements" draggable="true" onDragstart="angular.element(this).scope().$ctrl.drag(event)">
        <div class="qs-drag "></div>
        <qs-elements component-name="QS-Components" drag="$ctrl.drag()"> </qs-elements>
    </div>
</div>