<div class="col-sm-12 sub-header">
    <div class="col-sm-8 col-xs-12 sub-section">
        <div class="file-name">
            <label>{{$ctrl.selectedFile}}</label>
        </div>
        <input type="file" class="inputfile" name="file" id="file" ng-model="$ctrl.fileData" onchange="angular.element(this).scope().$ctrl.uploadFile(event)" />
        <label for="file">Load Template</label>
    </div>
    <div class="col-sm-4 col-xs-12 text-right sub-section">
        <button type="button" ng-if="$ctrl.showMain" class="btn btn-cancel" data-ng-click="$ctrl.resetChanges()">CANCEL</button>
        <button type="button" ng-if="$ctrl.showMain" class="btn btn-default" data-ng-click="$ctrl.saveChanges()">SAVE CHANGES</button>
    </div>
</div>